@import '../global.css';

* {
  /* outline: 1px solid red; */
}

/*
  Deepgram Widget
*/

.dg-widget__container {
  font-family: var(--el-font-family);
  font-size: var(--el-font-size);
  font-weight: var(--el-font-weight);
  line-height: var(--el-line-height);
  position: fixed;
  bottom: 1em;
  right: 2em;
  z-index: 1000;
}

.dg-widget__wrapper {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  gap: 1em;
}

.dg-widget__powered-by {
  font-size: 0.75em;
  align-self: right;
  text-align: center;
  color: rgb(var(--el-foreground-color));
  margin: -0.5em 0 0;
  white-space: nowrap;
  padding-right: 2.5em;
}

.dg-widget__powered-by span {
  opacity: 0.5;
}

.dg-widget__powered-by a {
  text-decoration: underline;
}

.dg-widget__box {
  background-color: rgb(var(--el-background-color));
  color: rgb(var(--el-foreground-color));
  border: var(--el-border-width) solid rgb(var(--el-border-color));
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 1.25em;
  border-radius: var(--el-border-radius);
  box-shadow: 0 0 4em 4em #0000001a;
  transition: opacity 0.2s ease-in-out;
  max-width: calc(100vw - 4em);
  max-height: calc(100vh - 4em);
}

.dg-widget__terms {
  display: none;
  max-width: 30em;
  accent-color: rgb(var(--el-accent-color));
  flex-direction: column;
  gap: 1em;
}

.dg-widget__terms h4.dg-widget__terms-header {
  font-size: 1.1em;
}

.dg-widget__terms p.dg-widget__terms-content {
  font-size: 0.8em;
}

.dg-widget__terms p.dg-widget__terms-content a {
  text-decoration: underline;
}

.dg-widget__terms div.dg-widget__terms-footer {
  flex-direction: row-reverse;
}

.dg-widget__terms--open {
  display: flex;
}

.dg-widget__avatar {
  display: block;
  position: relative;
  width: 4em;
  height: 4em;
}

.dg-widget__actions {
  display: block;
  min-width: 9.75em;
  /* width: min-content; */
  display: flex;
  gap: 0.6875em;
  flex-direction: column;
}

.dg-widget__actions--closed,
.dg-widget__avatar--closed {
  display: none;
}

.dg-widget__action-buttons {
  display: flex;
  gap: 0.5em;
}

.dg-widget__action-buttons button {
  background-color: rgb(var(--el-foreground-color));
  color: rgb(var(--el-background-color));
  border-radius: 0.5em;
  padding: 0 1em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  font-size: 0.875em;
  font-weight: 500;
  flex-grow: 1;
  height: 2.25em;
  max-width: 16em;
}

.dg-widget__action-buttons button.dg-widget__button--secondary {
  background-color: rgb(var(--el-background-color));
  color: rgb(var(--el-foreground-color));
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.dg-widget__action-buttons button.dg-widget__button--text {
  background-color: rgb(var(--el-background-color));
  color: rgb(var(--el-foreground-color));
  border: 1px solid rgb(var(--el-background-color));
  font-weight: var(--el-font-weight);
}

.dg-widget__action-buttons button svg {
  margin-left: -0.375rem;
  margin-right: 0.25rem;
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
}

.dg-widget__action-buttons button span {
  overflow: hidden;
  text-overflow: ellipsis;
}

.dg-widget__status {
  font-size: 0.875rem;
  text-wrap: nowrap;
  line-height: 0.625rem;
  margin: 0;
}

/* Add these new styles for the conversation container and items */
.dg-widget__conversation {
  font-size: 0.875rem;
  list-style: none;
  padding: 0;
  margin: 0 0 1em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.dg-widget__conversation__item {
  animation: slideIn 0.3s ease-out forwards;
  transform: translateX(100%);
  max-width: 30em;
  margin: 0.25em 0;
}

.dg-widget__conversation__item .history-item {
  animation: slideIn 0.3s ease-out forwards, slideOut 0.5s ease-out 20s forwards;
}

.dg-widget__conversation__item--user .dg-widget__conversation__item-content {
  background-color: rgb(var(--el-accent-color));
  color: rgb(var(--el-background-color));
  border-radius: 1em 1em 0.25em 1em;
}

.dg-widget__conversation__item--assistant .dg-widget__conversation__item-content {
  background-color: rgb(var(--el-background-color));
  border: var(--el-border-width) solid rgb(var(--el-border-color));
  border-radius: 1em 1em 0.25em 1em;
}

.dg-widget__conversation__item-content {
  padding: 0.75em 1em;
}

.dg-widget__conversation__item-content p {
  margin: 0;
  line-height: 1.4;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.cursor-blink {
  display: inline-block;
  animation: blink 1s step-end infinite;
  margin-left: 2px;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
    visibility: hidden;
  }
}
